<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div class="container">
  <h2 style="padding: 20px;color: darkred;font-weight: bold;">Latest Services</h2>
  <p>Lorem ipsum dolor sit amet, conc tetur adipi scing. Praesent vestibuum molstie lacuiirhs. Aenean non ummy dreriauris. Phasellllus. porta. Fusce suscipit variusium sociis totdna tibus et magis dis parturient montes, nas.</p>
 
  <div class="card-deck">
    <div class="card bg-primary" style="background-color: rgb(57, 189, 39);">
      <div class="card-body text-center">
        <p class="card-text" style="color: black;font-size: larger;font-weight: bold;">Burgur with Fries</p>
        <img src="assets/pics/img5.jpg" alt="img" style="width: 300px;">
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text" style="color: black;font-size: larger;font-weight: bold;">White Chocolate Shake</p>
        <img src="assets/pics/img6.jpg" alt="img" style="width: 300px; height: 530px;">
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text" style="color: black;font-size: larger;font-weight: bold;">Cup Cake</p>
        <img src="assets/pics/img7.jpg" alt="img" style="width: 300px; height: 520px;">
      </div>
    </div>
    <!-- Indicators -->
   <!--<div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>  --> 
  </div>
</div>

</body>
</html>

