<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container"> 
        <div class="media" style="padding: 20px;">
        <img src="assets/pics/img2.jpg" class="mr-3" alt="..." style="width: 400px;height: 300px; border-radius: 20px;">
        <div class="media-body">
          <h5 class="mt-0">SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS EROR SIT VOLUPTATEM ACCUSANTIUM.</h5>
          <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leot pharetra augue nec augue. Nam elit magna, hendrerit.</p>
        </div>
      </div><hr>
      <div class="media" style="padding: 20px;">
        <img src="assets/pics/img8.jpg" class="mr-3" alt="..." style="width: 400px;height: 300px; border-radius: 20px;">
        <div class="media-body">
          <h5 class="mt-0">UT ENIM AD MINIMA VENIAM, QUIS NOSTRUM EXERCITATIONEM ULLAM CORPORIS SUSCIPIT.</h5>
          <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leot pharetra augue nec augue. Nam elit magna, hendrerit.</p>
        </div>
      </div><hr>
    </div>
   



</body>

</html>